
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  height: 75px;
  align-items: center;
}

.element {
  text-decoration: none;
  color: #F05D23;
}
.calc-grid{
  width: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1px;
}
.calc-component{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.calc-title{
font-size: 22px;
padding: 10px;
}
